h1 {
    color: rgb(109, 16, 133);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
}

a {
    text-decoration: none;
    color: rgb(0, 48, 207);
    font-weight: bold;
}

.navbar li a {
    padding: 8px;
}

a:hover {
    color: rgb(49, 131, 255);
}