body {
    font-size: 17px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 100%;
    max-width: 2500px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: #6d1085;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #a433c0;
    font-weight: bold;
}

a:hover {
    color: #c745e7;
}

/* navbar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #0030cf;
    font-weight: bold;
}

nav li a {
    padding: 8px;
}

nav a:hover {
    color: #3183ff;
}